@charset "UTF-8";
<<<<<<< HEAD
=======
@media screen and (max-device-width: 641px) and (max-device-height: 764px) {
  .tab-link-active:after {
    right: 36%; } }
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a
body {
  font-size: 0.8rem; }

p {
  margin: 0; }

<<<<<<< HEAD
.age_buttom {
  text-align: center;
  line-height: 1.728rem;
  border-radius: 0.192rem;
  background: #6560ff;
  font-size: 0.5973333333rem;
  color: #FFFFFF;
  margin-bottom: 0.7893333333rem; }

.vip_tips .vip_tips_box {
  margin-top: 0.9386666667rem;
  width: 100%;
  text-align: center;
  font-size: 0.5973333333rem;
  color: #FFFFFF;
  display: inline-flex; }
  .vip_tips .vip_tips_box .right,
  .vip_tips .vip_tips_box .left {
    margin: auto;
    line-height: 1.4933333333rem;
    background: #ff9b2a;
    width: 5.248rem;
    border-radius: 0.256rem; }

.set_archives {
  width: 0.896rem;
  height: 0.8533333333rem; }

.vip_wrap {
  padding-top: 0.512rem;
  padding-left: 0.9173333333rem;
  padding-right: 0.7893333333rem; }
  .vip_wrap .box {
    position: relative; }
    .vip_wrap .box .recharge {
      position: absolute;
      bottom: -0.5973333333rem;
      margin: auto;
      text-align: center;
      width: 100%; }
      .vip_wrap .box .recharge .box_recharge {
        display: inline-table;
        background: #FFFFFF;
        color: #eab243;
        font-size: 0.5973333333rem;
        line-height: 1.1946666667rem;
        width: 3.2853333333rem;
        text-align: center;
        border-radius: 50px; }
        .vip_wrap .box .recharge .box_recharge span {
          vertical-align: middle; }
          .vip_wrap .box .recharge .box_recharge span img {
            height: 0.512rem;
            width: 0.2986666667rem; }
    .vip_wrap .box .box_top_title {
      vertical-align: middle;
      display: inline-block;
      position: absolute;
      top: 5.847953216374269%;
      overflow: hidden;
      width: 100%; }
      .vip_wrap .box .box_top_title .left {
        float: left;
        padding-left: 5.074626865671641%; }
        .vip_wrap .box .box_top_title .left .top_img {
          float: left; }
          .vip_wrap .box .box_top_title .left .top_img img {
            width: 2.2826666667rem; }
        .vip_wrap .box .box_top_title .left .title {
          float: left;
          font-size: 0.768rem;
          color: #FFFFFF;
          padding-left: 0.2133333333rem; }
          .vip_wrap .box .box_top_title .left .title .name {
            font-size: 0.512rem;
            color: #fffefd; }
      .vip_wrap .box .box_top_title .right {
        float: right;
        vertical-align: middle;
        font-size: 0.5973333333rem;
        color: #FFFFFF;
        padding-right: 5.074626865671641%;
        line-height: 1.2rem; }
        .vip_wrap .box .box_top_title .right .right_img {
          vertical-align: middle;
          padding-left: 0.192rem; }
          .vip_wrap .box .box_top_title .right .right_img img {
            height: 0.512rem;
            width: 0.2986666667rem; }
    .vip_wrap .box .box_middle {
      position: absolute;
      top: 34.50292397660818%;
      text-align: center;
      width: 100%; }
      .vip_wrap .box .box_middle .money_wrap {
        display: inline-table;
        border: 0.0853333333rem solid #FFFFFF;
        border-radius: 50%;
        width: 2.56rem;
        height: 2.56rem;
        font-size: 0.4693333333rem;
        text-align: center; }
        .vip_wrap .box .box_middle .money_wrap .name {
          margin: auto;
          color: #FFFFFF;
          text-align: center;
          padding-top: 0.4693333333rem; }
        .vip_wrap .box .box_middle .money_wrap .num {
          margin: auto;
          font-size: 0.9386666667rem;
          color: #e36b00; }
    .vip_wrap .box .box_buttom {
      position: absolute;
      padding-left: 5.074626865671641%;
      bottom: 9.064327485380116%; }
      .vip_wrap .box .box_buttom .box_buttom_time {
        color: #bd6d1e;
        font-size: 0.512rem; }
    .vip_wrap .box .box_img {
      text-align: center;
      overflow: hidden;
      font-size: 0; }
      .vip_wrap .box .box_img img {
        width: 100%; }

.folk_top_img {
  overflow: hidden;
  padding-top: 0.512rem;
  text-align: center;
  padding-bottom: 1.8346666667rem; }
  .folk_top_img .top_input {
    padding-left: 0.5546666667rem;
    padding-right: 5.3973333333rem; }
    .folk_top_img .top_input .top_left input {
      border: 0;
      width: 100%;
      padding-left: 0.5333333333rem;
      font-size: 0.5546666667rem;
      line-height: 1.7066666667rem;
      border-radius: 0.192rem; }
  .folk_top_img .top_right {
    float: right;
    width: 4.032rem;
    padding-right: 0.5546666667rem; }
    .folk_top_img .top_right button {
      border-radius: 0.192rem;
      text-align: center;
      line-height: 1.7066666667rem;
      color: #FFFFFF;
      width: 100%;
      background: #ff9b2a;
      font-size: 0.5973333333rem;
      border: 0; }

.me_folk_close {
  margin: 0.704rem 0;
  overflow: hidden;
  padding-left: 0.704rem;
  padding-right: 0.7466666667rem;
  border-radius: 0.192rem; }
  .me_folk_close button {
    border: 0;
    color: #101010;
    font-size: 0.5973333333rem;
    background: #ff9b2a;
    line-height: 1.4933333333rem; }

.folk_bg {
  width: 100%;
  min-height: 100%;
  background: url(../img/folk_bg.png);
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -99; }

.me_folk_mian {
  position: relative;
  padding-left: 1.28rem;
  padding-right: 1.5146666667rem;
  border-radius: 0.064rem; }
  .me_folk_mian .top_img {
    position: absolute;
    right: 1.0666666667rem;
    top: -1.7493333333rem;
    height: 2.048rem;
    width: 3.4346666667rem; }
    .me_folk_mian .top_img img {
      width: 100%;
      height: 100%; }
  .me_folk_mian .buttom_img {
    position: absolute;
    left: 0.7253333333rem;
    bottom: -0.6186666667rem;
    z-index: 9;
    width: 1.5786666667rem;
    height: 1.7493333333rem; }
    .me_folk_mian .buttom_img img {
      height: 100%;
      width: 100%; }
  .me_folk_mian .index_wrap {
    padding: 0;
    border: 0.128rem solid #000;
    border-radius: 0.4266666667rem;
    background-color: transparent; }
    .me_folk_mian .index_wrap .index_title {
      border-radius: 0.4266666667rem;
      font-weight: bold;
      background-color: white; }
      .me_folk_mian .index_wrap .index_title ul:after,
      .me_folk_mian .index_wrap .index_title ul:before {
        content: '';
        width: 0; }
      .me_folk_mian .index_wrap .index_title ul {
        background: transparent; }
        .me_folk_mian .index_wrap .index_title ul li:last-child:after {
          content: '';
          width: 0; }
    .me_folk_mian .index_wrap .item-after {
      color: #a6a6a6; }
    .me_folk_mian .index_wrap .me_folk_li {
      padding: 0 0.512rem; }
      .me_folk_mian .index_wrap .me_folk_li .item-inner {
        background-size: 0.2773333333rem 0.512rem;
        background-repeat: no-repeat;
        background-clip: padding-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      .me_folk_mian .index_wrap .me_folk_li .me_folk_li_div {
        padding-right: 0.6186666667rem;
        background-position: 100%; }

.links-list a,
.list .item-link .item-inner,
.media-list .chevron-center .item-link .item-inner,
.media-list .item-link .item-title-row,
.media-list .item-link.chevron-center .item-inner,
.media-list.chevron-center .item-link .item-inner,
li.media-item .chevron-center .item-link .item-inner,
li.media-item .item-link .item-title-row,
li.media-item .item-link.chevron-center .item-inner,
li.media-item.chevron-center .item-link .item-inner {
  background: url(../img/right.png);
  background-size: 0.2773333333rem 0.512rem;
  background-repeat: no-repeat;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.linec {
  height: 0.3413333333rem;
  width: 100%;
  background: #f9f9f9; }

.linex {
  height: 0.0426666667rem;
  width: 100%;
  background: #f9f9f9; }

.linex2 {
  height: 0.0426666667rem;
  width: 100%;
  background: #d2d2d2;
  margin: 0.4693333333rem 0; }

.linec2 {
  height: 1.4933333333rem;
  width: 100%;
  background: #f9f9f9; }

.ios .button {
  border: 0;
  color: #bcbcbc;
  font-size: 0.6826666667rem;
  height: 0.6826666667rem; }

=======
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a
.ios .button.button-active,
.ios .button.tab-link-active {
  line-height: 1.8773333333rem;
  background: #FFFFFF;
<<<<<<< HEAD
  color: #6f69fa;
  border-left-width: 0 !important; }

.curriculum_active .tab-link-active:after {
  content: " ";
  position: absolute;
  right: 44%;
  bottom: 0;
  width: 0.8533333333rem;
  border-radius: 50px;
  border-bottom: 0.06rem solid #6f69fa;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(2);
  z-index: 5; }

.mian_nav_img img {
  height: 100%; }

=======
  border-left-width: 0 !important; }

>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a
.subnavbar .segmented {
  line-height: 1.8773333333rem;
  height: 100%; }

.ios .segmented .button {
  line-height: 1.8773333333rem;
  height: 100%; }

.ios .segmented .button:first-child {
  height: 100%;
  border-left-width: 0 !important; }

.ios .list .item-after {
  font-size: 0.512rem; }

<<<<<<< HEAD
.ios .block {
  margin-top: 0.896rem;
  margin-bottom: 0.832rem;
  padding: 0 0.7466666667rem; }

=======
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a
.ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .subnavbar,
.ios .navbar ~ .subnavbar {
  top: 1.8773333333rem; }

.ios .navbar {
  height: 1.9626666667rem;
<<<<<<< HEAD
  background: #FFFFFF; }
=======
  background: #00d1bd; }
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a

.ios .subnavbar {
  height: 1.8773333333rem;
  background: #FFFFFF;
  font-size: 0.6826666667rem;
  color: #bcbcbc; }

.ios .tabbar-labels .tabbar-label {
  font-size: 0.4693333333rem; }

.ios .tabbar i.icon,
.ios .tabbar-labels i.icon {
  height: 0.8533333333rem; }

.ios .tabbar-labels a.link,
.ios .tabbar-labels a.tab-link {
  width: -webkit-fill-available;
  padding-top: 0.32rem;
  padding-bottom: 0.2346666667rem; }

<<<<<<< HEAD
.ios .tabbar a.tab-link-active,
.ios .tabbar-labels a.tab-link-active {
  color: #ff9b2a; }

=======
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a
.ios .navbar:after {
  content: none; }

.ios .list .item-inner:after {
  content: none; }

.list .item-inner {
<<<<<<< HEAD
  padding-top: 0.4373333333rem;
  padding-bottom: 0.4373333333rem; }
=======
  padding-top: 0.6186666667rem;
  padding-bottom: 0.5333333333rem; }
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a

.ios .list .item-media {
  padding-top: 0.512rem;
  padding-bottom: 0.4266666667rem;
  width: 0.9813333333rem; }

.list li {
  overflow: hidden; }

<<<<<<< HEAD
.list li:after {
  content: '';
  position: absolute;
  background-color: #f2f2f2;
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 0.0426666667rem;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

=======
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a
.ios .list .item-content {
  padding-left: 0.4693333333rem; }

.ios .icon-back,
.ios .icon-prev {
  width: 0.4053333333rem;
  height: 0.7253333333rem; }

.ios .navbar-inner {
  padding: 0 0.512rem; }

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0; }

* {
  font-family: "微软雅黑"; }

.ios .navbar .title {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  font-size: 0.8533333333rem;
  color: #141414; }
  .ios .navbar .title img {
    display: -webkit-inline-box;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    width: 4.0106666667rem;
    height: 1.472rem; }
=======
  font-size: 0.768rem;
  color: #FFFFFF; }
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a

.ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .page-content,
.ios .navbar ~ :not(.no-navbar) .subnavbar ~ * .page-content,
.ios .navbar ~ :not(.no-navbar) .subnavbar ~ .page-content,
.ios .page-with-subnavbar .navbar ~ .page-content {
  padding-top: inherit; }

.ios .navbar ~ .page-content,
.ios .navbar ~ :not(.no-navbar) .page-content {
  padding-top: 1.9626666667rem; }

.ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .page_buttom {
  padding-top: inherit;
  padding: 0;
  padding-top: 1.9626666667rem; }

<<<<<<< HEAD
.me_chart_right {
  float: right;
  position: absolute;
  right: 0;
  top: 0.8106666667rem;
  color: #FFFFFF;
  font-size: 0.5973333333rem;
  padding: 0.2133333333rem 0;
  padding-left: 0.2773333333rem;
  background: #6f69fa;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center; }
  .me_chart_right span {
    background: #FFFFFF;
    width: 0.7893333333rem;
    height: 0.7893333333rem;
    float: left;
    border-radius: 50%;
    margin-right: 0.256rem; }
    .me_chart_right span img {
      width: 0.4053333333rem;
      height: 0.4906666667rem; }
  .me_chart_right p {
    display: inline; }
  .me_chart_right .right_img {
    display: inline-block;
    overflow: hidden;
    height: 0.484rem; }
  .me_chart_right .me_right {
    height: 0.4053333333rem;
    padding-right: 0.512rem;
    height: 0.384rem;
    padding-right: 0.4906666667rem;
    filter: drop-shadow(0.4266666667rem 0 #FFFFFF);
    position: relative;
    left: -0.4266666667rem;
    top: -0.1706666667rem;
    border-left: 10px solid transparent; }

.me_wrap {
  width: 100%;
  position: relative;
  overflow: hidden; }

.me_bg {
  background: url(../img/me_bg.png);
  width: 100%;
  min-height: 100%;
  font-size: 0;
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: -99; }

.me_chart_top img {
  height: 2.4746666667rem;
  border-radius: 50%;
  float: left;
  margin: 0.5546666667rem 0 0.4906666667rem 0.4906666667rem; }

.ios .page {
  background: #f9f9f9; }
=======
.ios .page {
  background: whitesmoke; }
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a

.ios .tabbar-labels {
  height: 2.0906666667rem;
  background: white;
  -webkit-box-shadow: 0px 0px 3px #c8c8c8;
  -moz-box-shadow: 0px 0px 3px #c8c8c8;
  box-shadow: 0px 0px 3px #c8c8c8; }

<<<<<<< HEAD
.home_ldd {
  width: 0.8533333333rem;
  margin-top: 0rem;
  height: 0.9386666667rem; }

.me_chart_top .index_me_name {
  margin-left: 3.2853333333rem;
  font-size: 0.6826666667rem; }
  .me_chart_top .index_me_name .name {
    color: #FFFFFF; }

.home_play .layui-carousel {
  width: 100%;
  overflow: -webkit-paged-x; }
  .home_play .layui-carousel img {
    width: 100%; }
  .home_play .layui-carousel .layui-carousel-ind li {
    min-height: 0.2986666667rem;
    width: 0.2986666667rem;
    background-color: #bbbbbb;
    margin: 0 0.192rem; }
  .home_play .layui-carousel .layui-carousel-ind li.layui-this {
    background-color: #6f69fa; }
  .home_play .layui-carousel .layui-carousel-ind ul {
    background-color: initial; }

.home_nav {
  background: #FFFFFF;
  padding: 0.4266666667rem 0.2773333333rem; }
  .home_nav .home_nav_line {
    height: 0.7466666667rem;
    width: 100%; }
  .home_nav .col {
    text-align: center; }
    .home_nav .col .home_nav_title {
      font-size: 0.4693333333rem;
      color: #1d1d1d;
      padding-top: 0.1706666667rem; }
    .home_nav .col .home_nav_img {
      width: 2.4746666667rem;
      height: 2.4746666667rem;
      margin: auto; }
      .home_nav .col .home_nav_img img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }

.home_play {
  position: relative;
  overflow: -webkit-paged-x; }

.layui-carousel-ind {
  position: absolute !important;
  bottom: 0.512rem !important;
  text-align: center;
  width: 100%;
  line-height: 0 !important;
  z-index: 2;
  top: auto !important; }

.layui-carousel {
  position: initial !important; }

.buttom_bold {
  width: 100%;
  height: 5rem;
  background: #FFFFFF; }

=======
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a
.ios .row .col:nth-last-child(2),
.ios .row .col:nth-last-child(2) ~ .col {
  width: 48.5%; }

<<<<<<< HEAD
.home_content {
  background: #FFFFFF;
  border-top: 0.1706666667rem solid #f6f6f6;
  padding: 0 0.512rem; }
  .home_content .home_content_img .titles {
    padding: 0.1066666667rem 0.2133333333rem;
    padding-bottom: 0.256rem; }
    .home_content .home_content_img .titles .tag {
      font-size: 0.5973333333rem;
      color: #414141;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      white-space: normal;
      overflow: hidden;
      word-break: break-all; }
    .home_content .home_content_img .titles .name {
      font-size: 0.512rem;
      color: #828282; }
  .home_content .home_content_img .home_col {
    box-shadow: 0 3px 3px #CCCCCC; }
  .home_content .home_content_img .home_content_img2 {
    margin: auto;
    text-align: center; }
    .home_content .home_content_img .home_content_img2 img {
      height: 100%;
      width: 100%; }
  .home_content .title {
    padding: 0.32rem 0;
    overflow: hidden; }
    .home_content .title .title_next {
      padding: 0.2133333333rem 0;
      float: right; }
      .home_content .title .title_next i {
        width: 0.4053333333rem;
        height: 0.7253333333rem; }
    .home_content .title .title_name {
      font-size: 0.7253333333rem;
      color: #1d1d1d;
      float: left;
      font-weight: bold; }

.me_chart_top .number {
  font-weight: normal;
  font-size: 0.5546666667rem;
  color: #a8a8b2 !important;
  line-height: 1rem; }

.index_me_name .login_ye {
  font-size: 0.768rem;
  color: #05ab8f;
  padding: 0.192rem 0.3626666667rem;
  border: 2px solid #05ab8f;
  display: -webkit-inline-box;
  border-radius: 3px;
  font-weight: 600;
  margin-top: 0.25rem; }

.index_me_name {
  padding-top: 0.8533333333rem; }

.index_me_right {
  float: right;
  position: absolute;
  right: 0;
  top: 0.8106666667rem;
  color: #FFFFFF;
  font-size: 0.5973333333rem;
  padding: 0.2133333333rem 0;
  padding-left: 0.2773333333rem;
  background: #ff9b2a;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center; }

.index_me_right .me_healthy {
  width: 0.4053333333rem;
  height: 0.4906666667rem; }

.index_me_right .me_right {
  height: 0.384rem;
  padding-right: 0.4906666667rem; }

.index_me_right > p {
  display: inline; }

.index_me_right > span {
  background: #FFFFFF;
  width: 0.7893333333rem;
  height: 0.7893333333rem;
  float: left;
  border-radius: 50%;
  margin-right: 0.256rem; }

.index_wrap {
  padding: 0 0.32rem;
  background-color: #FFFFFF; }

.index_title {
  width: 100%; }

.index_mian {
  padding: 0 0.512rem; }

.index_title_img {
  width: 0.896rem;
  height: 0.7893333333rem; }

.ios .list .item-media + .item-inner {
  margin-left: 0.576rem; }

.list .item-title {
  font-size: 0.5973333333rem;
  font-weight: bold; }

.me_list {
  float: left;
  text-align: center;
  margin-right: 1.408rem; }

.me_list .me_list_img img {
  width: 1.8346666667rem;
  border-radius: 50%; }

.me_list .me_list_name {
  padding-top: 0.1066666667rem;
  font-size: 0.4693333333rem; }

.me_list_all {
  overflow: hidden;
  padding: 0.512rem 0;
  padding-left: 0.9813333333rem; }

.me_list_line:after {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 0.0853333333rem !important;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.index_title_img2 {
  width: 0.8533333333rem;
  height: 0.768rem; }

.index_title_img3 {
  height: 0.7893333333rem;
  width: 0.7253333333rem;
  padding-left: 0.0426666667rem; }

.index_title_img4 {
  width: 0.8746666667rem;
  height: 0.64rem; }

.index_title_img5 {
  height: 0.768rem;
  width: 0.768rem;
  padding-left: 0.0426666667rem; }

.index_title_img6 {
  height: 0.7253333333rem;
  width: 0.7253333333rem;
  padding-left: 0.0426666667rem; }

.index_title_img7 {
  height: 0.7253333333rem;
  width: 0.7253333333rem;
  padding-left: 0.0426666667rem; }

.index_close .index_close_buttom {
  border: 0;
  bottom: 2.5813333333rem;
  text-align: center;
  padding: 0.4693333333rem 0;
  background: #ff9b2a;
  font-size: 0.5973333333rem;
  width: 94%;
  margin: auto;
  margin: 0 3%;
  bottom: 0.768rem;
  margin-top: 4rem;
  margin-bottom: 0.5rem; }
  .index_close .index_close_buttom .close {
    vertical-align: middle;
    height: 0.4906666667rem;
    width: 0.4693333333rem;
    padding-left: 0.2986666667rem; }
    .index_close .index_close_buttom .close img {
      height: 0.4906666667rem;
      width: 0.4693333333rem;
      margin-bottom: 0.05rem; }

.ios .list {
  margin: 0; }

.page_buttom {
  position: relative; }

.index_pop-9 {
  width: 10.112rem;
  height: 10.88rem; }

.popup:not(.popup-tablet-fullscreen) {
  width: 10.112rem;
  height: 10.88rem;
  left: 50%;
  top: 50%;
  margin-left: -5.056rem;
  margin-top: -5.44rem;
  -webkit-transform: translate3d(0, 100vh, 0);
  transform: translate3d(0, 100vh, 0); }

.pop_input .me_img > img {
  width: 2.9226666667rem;
  border-radius: 50%; }

.pop_input .me_img {
  text-align: center; }

.pop_input .click {
  text-align: center;
  font-size: 0.5546666667rem;
  margin-top: 0.3626666667rem;
  margin-bottom: 0.5546666667rem;
  color: #ff9b2a; }

.pop_input .name input,
.pop_input .age input {
  border: 0.0213333333rem solid #c5c5c5;
  width: 8.5333333333rem;
  height: 1.28rem;
  border-radius: 0.0853333333rem;
  font-size: 0.5546666667rem;
  margin-bottom: 0.2986666667rem;
  padding-left: 0.4906666667rem; }

.pop_input .so_button button {
  height: 1.28rem;
  width: 8.5333333333rem;
  text-align: center;
  background: #ff9b2a;
  font-size: 0.5973333333rem;
  color: #000000; }

.bound_wrap {
  padding-left: 1.4506666667rem;
  padding-top: 1.152rem;
  padding-right: 1.1093333333rem; }
  .bound_wrap .bound_buttom {
    text-align: center;
    font-size: 0.5973333333rem;
    background: #6560ff;
    border-radius: 0.192rem;
    line-height: 1.728rem;
    color: #FFFFFF;
    margin-top: 2.1546666667rem; }
  .bound_wrap .phone_input {
    font-size: 0.768rem;
    line-height: 0.768rem; }
    .bound_wrap .phone_input input::-webkit-input-placeholder {
      color: gainsboro; }
    .bound_wrap .phone_input input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: gainsboro; }
    .bound_wrap .phone_input input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: gainsboro; }
    .bound_wrap .phone_input input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: gainsboro; }
    .bound_wrap .phone_input .phone_input_buttom {
      width: 100%;
      overflow: hidden;
      padding-top: 1.0666666667rem;
      padding-bottom: 0.3626666667rem;
      border-bottom: 0.0213333333rem solid gainsboro; }
      .bound_wrap .phone_input .phone_input_buttom .input_right {
        float: right;
        width: 35%;
        text-align: right; }
        .bound_wrap .phone_input .phone_input_buttom .input_right span {
          line-height: 0.768rem;
          width: 100%;
          font-size: 0.64rem;
          color: #3b3b3b;
          vertical-align: sub; }
      .bound_wrap .phone_input .phone_input_buttom .input_left {
        float: left;
        width: 65%; }
        .bound_wrap .phone_input .phone_input_buttom .input_left input {
          border: 0;
          font-size: 0.768rem;
          line-height: 0.768rem;
          padding-left: 0.96rem; }
    .bound_wrap .phone_input .phone_input_top {
      overflow: hidden;
      padding-top: 1.8133333333rem; }
      .bound_wrap .phone_input .phone_input_top .input_right {
        width: 100%;
        padding-left: 3.328rem; }
        .bound_wrap .phone_input .phone_input_top .input_right input {
          border: 0;
          width: 100%;
          font-size: 0.768rem;
          line-height: 0.768rem;
          padding-bottom: 0.3626666667rem;
          padding-left: 0.96rem;
          border-bottom: 0.0213333333rem solid gainsboro; }
      .bound_wrap .phone_input .phone_input_top .input_left {
        float: left;
        color: #101010;
        padding: 0 0.448rem;
        padding-bottom: 0.6186666667rem;
        border-bottom: 0.0213333333rem solid gainsboro; }
  .bound_wrap .bound_title {
    font-size: 0.8533333333rem;
    color: #101010;
    line-height: 0.8533333333rem;
    font-weight: bold; }

.age_li_box .age_img:after {
  content: '';
  height: 0.7253333333rem;
  width: 0.7253333333rem;
  top: 0;
  right: 0.5333333333rem;
  position: absolute;
  background: url(../img/gou.png);
  background-size: 100%;
  display: inline-block; }

.area_list_wrap {
  padding: 0 1.3013333333rem;
  padding-top: 1.1306666667rem; }
  .area_list_wrap .age_list {
    width: 100%;
    overflow: -webkit-paged-x; }
    .area_list_wrap .age_list ul {
      padding-top: 2.0693333333rem;
      width: 100%; }
      .area_list_wrap .age_list ul li {
        float: left;
        width: 50%;
        text-align: center;
        padding-bottom: 3.3493333333rem; }
        .area_list_wrap .age_list ul li .age_box {
          margin: auto; }
        .area_list_wrap .age_list ul li .age_name {
          text-align: center;
          font-size: 0.5546666667rem;
          color: #282828;
          line-height: 0.5546666667rem;
          padding-top: 0.8746666667rem; }
        .area_list_wrap .age_list ul li .age_img {
          position: relative;
          margin: auto;
          width: 4.6506666667rem;
          height: 4.6506666667rem;
          border-radius: 50%; }
          .area_list_wrap .age_list ul li .age_img img {
            border-radius: 50%;
            width: 100%;
            height: 100%; }
  .area_list_wrap .area_list {
    width: 100%; }
    .area_list_wrap .area_list ul {
      padding-top: 2.0693333333rem;
      font-size: 0.64rem;
      color: #101010;
      line-height: 0.64rem;
      width: 100%; }
      .area_list_wrap .area_list ul li {
        float: left;
        text-align: center;
        margin: auto;
        width: 33.33333333333333%;
        margin-bottom: 1.7066666667rem; }
        .area_list_wrap .area_list ul li .box {
          margin: auto;
          box-shadow: 0rem 0rem 0.4906666667rem rgba(124, 122, 122, 0.3);
          -webkit-box-shadow: 0rem 0rem 0.4906666667rem rgba(124, 122, 122, 0.3);
          text-align: center;
          border-radius: 50%;
          width: 3.2rem;
          height: 3.2rem;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          /* 水平居中*/
          -webkit-box-align: center;
          -moz-box-align: center;
          -ms-flex-pack: center;
          /* IE 10 */
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          /* IE 11+,Firefox 22+,Chrome 29+,Opera 12.1*/
          /* 垂直居中 */
          -webkit-box-pack: center;
          -moz-box-pack: center;
          -ms-flex-align: center;
          /* IE 10 */
          -webkit-align-items: center;
          -moz-align-items: center; }
  .area_list_wrap .title {
    line-height: 0.8533333333rem;
    font-size: 0.8533333333rem;
    color: #101010;
    margin: 0;
    padding: 0;
    padding-bottom: 0.384rem; }
  .area_list_wrap .hint {
    font-size: 0.512rem;
    line-height: 0.512rem;
    color: #8e9494; }

.phone_name {
  margin-top: 2.1333333333rem;
  width: 100%; }
  .phone_name input::-webkit-input-placeholder {
    color: gainsboro; }
  .phone_name input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: gainsboro; }
  .phone_name input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: gainsboro; }
  .phone_name input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gainsboro; }
  .phone_name input {
    border: 0;
    width: 100%;
    font-size: 0.768rem;
    line-height: 0.768rem;
    padding-bottom: 0.3626666667rem;
    padding-left: 0.4266666667rem;
    border-bottom: 0.0213333333rem solid gainsboro; }

.submit_name {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: 1.3013333333rem;
  margin-right: 1.3013333333rem;
  margin-bottom: 1.1733333333rem;
  line-height: 1.728rem;
  border-radius: 0.192rem;
  background: #655fff;
  text-align: center;
  font-size: 0.5973333333rem;
  color: #FFFFFF; }

.layui-input-block {
  margin: 0;
  min-height: auto;
  border: 0;
  width: 100%;
  font-size: 0.768rem;
  line-height: 0.768rem;
  padding-bottom: 0.3626666667rem;
  padding-left: 0.4266666667rem;
  border-bottom: 0.0213333333rem solid gainsboro; }
  .layui-input-block input::-webkit-input-placeholder {
    color: gainsboro; }
  .layui-input-block input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: gainsboro; }
  .layui-input-block input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: gainsboro; }
  .layui-input-block input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gainsboro; }
  .layui-input-block input {
    font-size: 0.768rem;
    line-height: 0.768rem; }

.layui-form-select .layui-edge {
  border-width: 0.2133333333rem; }

.layui-form-item {
  margin: auto; }

.layui-input,
.layui-select,
.layui-textarea {
  height: initial; }

.layui-form-select dl dd,
.layui-form-select dl dt {
  line-height: initial;
  line-height: 1.3rem; }

.layui-form-select dl {
  top: inherit;
  min-height: 6.4rem; }

.layui-form-select dl dd.layui-this {
  background-color: #655fff; }

.phone_class_list {
  padding-top: 0.96rem !important; }
  .phone_class_list .spot .box,
  .phone_class_list .spot .seed_box {
    background: #6560ff;
    color: #FFFFFF; }

.class_name_wrap {
  overflow: hidden; }
  .class_name_wrap .class_img {
    float: right;
    width: 2.4533333333rem;
    height: 2.4746666667rem; }
    .class_name_wrap .class_img img {
      width: 100%;
      height: 100%;
      border-radius: 50%; }
  .class_name_wrap .class_name {
    font-size: 0;
    float: left;
    height: 2.4746666667rem;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .class_name_wrap .class_name h3 {
      vertical-align: middle;
      margin: 0;
      font-size: 0.6826666667rem;
      line-height: 0.6826666667rem;
      margin-bottom: 0.2133333333rem; }
    .class_name_wrap .class_name span {
      vertical-align: middle;
      line-height: 0.4266666667rem;
      font-size: 0.4266666667rem;
      color: #8e9494; }

.next_line {
  clear: both;
  text-align: center;
  color: #e9e9e9;
  font-size: 0.512rem;
  line-height: 0.512rem;
  position: relative; }

.next_line:after {
  content: '';
  position: absolute;
  background: #e9e9e9;
  height: 0.0213333333rem;
  width: 40%;
  bottom: 40%;
  right: 0; }

.next_line:before {
  content: '';
  position: absolute;
  background: #e9e9e9;
  height: 0.0213333333rem;
  width: 40%;
  bottom: 40%;
  left: 0; }

.class_seed_wrap {
  width: 100%; }
  .class_seed_wrap ul {
    margin-top: 1.3866666667rem;
    width: 100%; }
    .class_seed_wrap ul .spot .seed_box {
      background: #6560ff;
      color: #FFFFFF; }
    .class_seed_wrap ul li {
      width: 33.33333333333333%;
      text-align: center;
      float: left;
      margin-bottom: 1.1093333333rem; }
      .class_seed_wrap ul li .seed_box {
        width: 3.2rem;
        background: #FFFFFF;
        box-shadow: 0rem 0rem 0.4266666667rem rgba(124, 122, 122, 0.3);
        -webkit-box-shadow: 0rem 0rem 0.4266666667rem rgba(124, 122, 122, 0.3);
        line-height: 1.28rem;
        border-radius: 0.128rem;
        margin: auto;
        color: #101010; }
        .class_seed_wrap ul li .seed_box span {
          font-size: 0.64rem; }

.year_list,
.month_list,
.day_list {
  float: left;
  font-size: 0.512rem; }
  .year_list .layui-form-select dl,
  .month_list .layui-form-select dl,
  .day_list .layui-form-select dl {
    left: -0.4266666667rem;
    top: 1.0666666667rem; }
  .year_list .layui-form-select dl dd,
  .month_list .layui-form-select dl dd,
  .day_list .layui-form-select dl dd {
    font-size: 0.512rem; }
  .year_list .layui-input,
  .month_list .layui-input,
  .day_list .layui-input {
    font-size: 0.512rem; }
  .year_list .layui-input-block,
  .month_list .layui-input-block,
  .day_list .layui-input-block {
    border: 0;
    padding-bottom: 0rem; }
  .year_list .layui-form-select .layui-edge,
  .month_list .layui-form-select .layui-edge,
  .day_list .layui-form-select .layui-edge {
    border-width: 0rem; }

.year_list {
  border-bottom: 0.0213333333rem solid gainsboro;
  width: 2.3893333333rem;
  margin-right: 0.256rem; }
  .year_list .layui-edge {
    border-width: 0; }

.month_list {
  margin-left: 0.448rem;
  border-bottom: 0.0213333333rem solid gainsboro;
  width: 2.2826666667rem;
  margin-right: 0.896rem; }
  .month_list .layui-form-select .layui-edge {
    border-width: 0.15rem;
    left: -0.8533333333rem; }

.day_list {
  width: 2.2826666667rem;
  border-bottom: 0.0213333333rem solid gainsboro; }
  .day_list .layui-form-select .layui-edge {
    border-width: 0.15rem;
    left: -0.8533333333rem; }

.source_wrap {
  padding: 0 0.5546666667rem;
  padding-top: 0.384rem; }
  .source_wrap ul li {
    margin: 0;
    padding: 0;
    border-radius: 0.192rem;
    clear: both;
    background: #FFFFFF;
    padding: 0.4266666667rem 0;
    overflow: -webkit-paged-x;
    margin-bottom: 0.2346666667rem; }
    .source_wrap ul li .source_box {
      float: left;
      padding-left: 0.5333333333rem; }
    .source_wrap ul li .left_img {
      border-radius: 50%;
      width: 1.536rem;
      height: 1.536rem;
      background: #6761ff;
      font-size: 0;
      vertical-align: middle;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .source_wrap ul li .left_img img {
        font-size: 0;
        height: 0.7253333333rem;
        width: 0.7253333333rem; }
    .source_wrap ul li .source_num {
      padding-left: 0.256rem;
      color: #6761ff; }
    .source_wrap ul li span {
      padding-left: 0.96rem;
      line-height: 1.536rem;
      vertical-align: middle;
      font-weight: bold;
      font-size: 0.64rem;
      color: #282828; }
=======
.ios .toolbar-inner {
  padding: 0.7466666667rem 0;
  background: #FFFFFF; }

.index_nav {
  height: 1.4933333333rem !important; }
  .index_nav a {
    font-size: 0.64rem;
    width: 25% !important;
    height: initial !important; }
  .index_nav .tab-link-active {
    position: relative; }
  .index_nav .tab-link-active:after {
    position: absolute;
    bottom: -0.256rem;
    content: '';
    width: 0.8533333333rem;
    height: 0.064rem;
    background: #00d1bd;
    text-align: center; }

.ios .tabbar a.tab-link-active,
.ios .tabbar-labels a.tab-link-active {
  color: #323232; }

.ios .tabbar a,
.ios .tabbar-labels a {
  color: #7b7b7b; }

.linex {
  width: 100%;
  height: 0.0853333333rem;
  background: whitesmoke; }

.linex2 {
  width: 100%;
  height: 0.0426666667rem;
  background: whitesmoke; }

.swiper-wrapper {
  width: auto; }

.index_tabs .list {
  margin: 0.1706666667rem 0;
  padding-top: 0.2773333333rem;
  padding-bottom: 0.256rem;
  padding-left: 0.1706666667rem;
  padding-right: 0.1706666667rem;
  font-size: 0.5546666667rem;
  background: #FFFFFF;
  border: 1px solid #FFFFFF; }
  .index_tabs .list .list_content {
    padding: 0 0.384rem;
    overflow: hidden;
    font-size: 0.5546666667rem;
    color: #252525; }
    .index_tabs .list .list_content img {
      float: left; }
    .index_tabs .list .list_content .name_left {
      float: left;
      width: 56%;
      padding: 0.2986666667rem 0; }
      .index_tabs .list .list_content .name_left img {
        margin-top: 0.09rem;
        height: 0.64rem; }
      .index_tabs .list .list_content .name_left .name {
        padding-left: 1.1946666667rem; }
    .index_tabs .list .list_content .status_right {
      padding: 0.2986666667rem 0;
      float: right;
      width: 44%; }
      .index_tabs .list .list_content .status_right img {
        margin-top: 0.135rem;
        height: 0.64rem; }
      .index_tabs .list .list_content .status_right .status {
        padding-left: 1.024rem; }
    .index_tabs .list .list_content .time_left {
      padding: 0.2986666667rem 0;
      float: left;
      width: 56%;
      padding: 0.2986666667rem 0; }
      .index_tabs .list .list_content .time_left img {
        width: 0.768rem;
        margin-top: 0.06rem; }
      .index_tabs .list .list_content .time_left .time {
        padding-left: 1.1093333333rem; }
    .index_tabs .list .list_content .money_right {
      float: right;
      width: 44%;
      padding: 0.2986666667rem 0; }
      .index_tabs .list .list_content .money_right img {
        margin-top: 0.11rem;
        width: 0.6826666667rem; }
      .index_tabs .list .list_content .money_right .money {
        padding-left: 1.024rem; }
  .index_tabs .list .list_title {
    color: #252525;
    padding: 0 0.4693333333rem;
    padding-bottom: 0.32rem;
    overflow: hidden; }
    .index_tabs .list .list_title .title_left {
      float: left; }
    .index_tabs .list .list_title .title_right {
      float: right;
      color: #ff2a14; }
.index_tabs .page-content {
  padding: 0 !important; }

.ios .index_tabs .block {
  padding: 0 0.5333333333rem;
  margin: 0; }

.me_info_img {
  height: 0.7893333333rem;
  width: 0.6613333333rem; }

.info_wrap {
  margin: 0.4053333333rem 0.512rem;
  -webkit-box-shadow: 0px 3px 3px #c8c8c8;
  -moz-box-shadow: 0px 3px 3px #c8c8c8;
  box-shadow: 0px 3px 3px #c8c8c8; }
  .info_wrap .info_line {
    padding: 0 0.1706666667rem;
    background: #FFFFFF; }
  .info_wrap .box_content {
    background: #FFFFFF;
    padding: 0.5333333333rem 0;
    padding-left: 0.704rem;
    padding-right: 0.6186666667rem; }
    .info_wrap .box_content .list {
      font-size: 0.5973333333rem;
      overflow: hidden;
      margin: 0; }
      .info_wrap .box_content .list .tag {
        font-size: 0.5973333333rem;
        float: left;
        color: #282828;
        font-weight: bold; }
      .info_wrap .box_content .list .info {
        line-height: 0.85rem;
        font-size: 0.512rem;
        color: #7d7d7d;
        float: right;
        display: -webkit-box; }
        .info_wrap .box_content .list .info .next i {
          width: 0.2986666667rem;
          height: 0.4693333333rem;
          margin-left: 0.4906666667rem; }

.not_mark_wrap {
  margin-top: 0.1706666667rem; }
  .not_mark_wrap .box_wrap {
    margin: 0 0.512rem;
    margin-top: 0.1706666667rem; }
    .not_mark_wrap .box_wrap .list_wrap {
      padding-left: 0.9813333333rem; }
  .not_mark_wrap .list_wrap_input {
    padding: 0.2453333333rem 0;
    padding-left: 0.9813333333rem;
    display: -webkit-box;
    font-size: 0.5546666667rem;
    background: #FFFFFF;
    overflow: hidden;
    color: #252525; }
    .not_mark_wrap .list_wrap_input .title {
      width: 2.944rem;
      color: #666666;
      line-height: 1.216rem; }
    .not_mark_wrap .list_wrap_input .content {
      width: 9.3226666667rem;
      padding-left: 0; }
      .not_mark_wrap .list_wrap_input .content input {
        border: 1px solid #bcbcbc;
        padding: 0 0.4906666667rem;
        width: 100%;
        font-size: 0.5546666667rem;
        height: 1.152rem; }
  .not_mark_wrap .list_wrap {
    padding: 0.4693333333rem 0;
    padding-left: 1.4933333333rem;
    display: -webkit-box;
    font-size: 0.5546666667rem;
    background: #FFFFFF;
    overflow: hidden;
    color: #252525; }
    .not_mark_wrap .list_wrap .title {
      width: 3.4346666667rem;
      color: #666666; }
    .not_mark_wrap .list_wrap .content {
      padding-left: 0; }
      .not_mark_wrap .list_wrap .content input {
        border: 1px solid #bcbcbc;
        padding: 0.2986666667rem 0.4906666667rem; }
    .not_mark_wrap .list_wrap .title_color {
      color: #2b2b2b; }
    .not_mark_wrap .list_wrap .content_red {
      color: #ff2a14; }

.go_goods {
  padding: 0 0.512rem;
  margin-top: 6.8906666667rem;
  margin-bottom: 0.64rem;
  overflow: hidden; }
  .go_goods button {
    text-align: center;
    height: 1.7066666667rem;
    border: 0;
    background: #00d1bd;
    border-radius: 3px;
    font-size: 0.5973333333rem;
    color: #FFFFFF; }

.goods_total {
  padding: 0.4906666667rem 1.0666666667rem;
  background: #FFFFFF;
  display: -webkit-box;
  margin-top: 2.816rem; }
  .goods_total .title {
    font-size: 0.64rem; }
  .goods_total .money {
    padding-left: 1.7066666667rem;
    font-size: 0.7253333333rem;
    color: #ff2a14; }

.offer_goods, .address_buttom {
  padding: 0 0.512rem;
  margin-top: 0.96rem;
  margin-bottom: 0.6826666667rem;
  overflow: hidden; }
  .offer_goods button, .address_buttom button {
    text-align: center;
    height: 1.7066666667rem;
    border: 0;
    background: #00d1bd;
    border-radius: 3px;
    font-size: 0.5973333333rem;
    color: #FFFFFF; }

.address_wrap {
  font-size: 1rem; }
  .address_wrap .item-content {
    margin: 0;
    padding: 0; }
    .address_wrap .item-content .item-inner .item-label {
      font-size: 0.5546666667rem;
      width: 3.456rem; }
    .address_wrap .item-content .item-inner .item-input-wrap {
      font-size: 0.5546666667rem; }
      .address_wrap .item-content .item-inner .item-input-wrap input {
        font-size: 0.5546666667rem; }
    .address_wrap .item-content .item-inner textarea {
      font-size: 0.5546666667rem; }
>>>>>>> 345c1fa65511e1220a6f6923a6da72de8831b26a

/*# sourceMappingURL=index.css.map */
