@import 'px2rem'; //第一步先把px2rem导入
$designWidth: 750; //写scss之前，必须要先定义designWidth。
$color1:rgb(0, 209, 189); //绿色
$color2: rgb(188, 188, 188); //灰色



@media screen and (max-device-width:641px) and (max-device-height:764px){
     .tab-link-active:after {
       right: 36%;
        
    }
    
}



body {
    font-size: 0.8rem;
}

p {
    margin: 0;
}

.ios .button.button-active,
.ios .button.tab-link-active {
    line-height: px2rem(88);
    background: #FFFFFF;
    border-left-width: 0 !important;
}

.subnavbar .segmented {
    line-height: px2rem(88);
    height: 100%;
}

.ios .segmented .button {
    line-height: px2rem(88);
    height: 100%;
}

.ios .segmented .button:first-child {
    height: 100%;
    border-left-width: 0 !important;
}

.ios .list .item-after {
    font-size: px2rem(24);
}

.ios .navbar~.page-with-subnavbar:not(.no-navbar) .subnavbar,
.ios .navbar~.subnavbar {
    top: px2rem(88);
}

.ios .navbar {
    height: px2rem(92);
    background: rgb(0, 209, 189);
}

.ios .subnavbar {
    height: px2rem(88);
    background: #FFFFFF;
    font-size: px2rem(32);
    color: $color2;
}

.ios .tabbar-labels .tabbar-label {
    font-size: px2rem(22);
}

.ios .tabbar i.icon,
.ios .tabbar-labels i.icon {
    height: px2rem(40);
}

.ios .tabbar-labels a.link,
.ios .tabbar-labels a.tab-link {
    width: -webkit-fill-available;
    padding-top: px2rem(15);
    padding-bottom: px2rem(11);
}

.ios .tabbar a.tab-link-active,
.ios .tabbar-labels a.tab-link-active {}

.ios .navbar:after {
    content: none;
}

.ios .list .item-inner:after {
    content: none;
}

.list .item-inner {
    padding-top: px2rem(29);
    padding-bottom: px2rem(25);
}

.ios .list .item-media {
    padding-top: px2rem(24);
    padding-bottom: px2rem(20);
    width: px2rem(46);
}

.list li {
    overflow: hidden;
}

.ios .list .item-content {
    padding-left: px2rem(22);
}

.ios .icon-back,
.ios .icon-prev {
    width: px2rem(19);
    height: px2rem(34);
}

.ios .navbar-inner {
    padding: 0 px2rem(24);
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    font-family: "微软雅黑";
}

.ios .navbar .title {
    font-size: px2rem(36);
    color: #FFFFFF;
}

.ios .navbar~.page-with-subnavbar:not(.no-navbar) .page-content,
.ios .navbar~:not(.no-navbar) .subnavbar~* .page-content,
.ios .navbar~:not(.no-navbar) .subnavbar~.page-content,
.ios .page-with-subnavbar .navbar~.page-content {
    padding-top: inherit;
}

.ios .navbar~.page-content,
.ios .navbar~:not(.no-navbar) .page-content {
    padding-top: px2rem(92);
}

.ios .navbar~.page-with-subnavbar:not(.no-navbar) .page_buttom {
    padding-top: inherit;
    padding: 0;
    padding-top: px2rem(92);
}

.ios .page {
    background: rgb(245,245,245);
}

.ios .tabbar-labels {
    height: px2rem(98);
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 3px #c8c8c8;
    -moz-box-shadow: 0px 0px 3px #c8c8c8;
    box-shadow: 0px 0px 3px #c8c8c8;
}

.ios .row .col:nth-last-child(2),
.ios .row .col:nth-last-child(2)~.col {
    width: 48.5%;
}

.ios .toolbar-inner {
    padding: px2rem(35) 0;
    background: #FFFFFF;
}

.ios .tabbar,
.ios .tabbar-labels {}

//首页
.index_nav {
    height: px2rem(70) !important;
    a {
        font-size: px2rem(30);
        width: 25% !important;
        height: initial !important;
    }
    .tab-link-active {
        position: relative;
    }
    .tab-link-active:after {
        position: absolute;
        bottom: px2rem(-12);
        content: '';
        width: px2rem(40);
        height: px2rem(3);
        background: $color1;
         text-align: center;
     
        
    }
}

.ios .tabbar a.tab-link-active,
.ios .tabbar-labels a.tab-link-active {
    color: rgb(50, 50, 50);
}

.ios .tabbar a,
.ios .tabbar-labels a {
    color: rgb(123, 123, 123);
}

.linex {
    width: 100%;
    height: px2rem(4);
    background: rgb(245, 245, 245);
}

.linex2 {
    width: 100%;
    height: px2rem(2);
    background: rgb(245, 245, 245);
}

.swiper-wrapper {
    width: auto;
}

.index_tabs {
    //  margin: px2rem(8) px2rem(25)  ;
    .list {
        margin: px2rem(8) 0;
        padding-top: px2rem(13);
        padding-bottom: px2rem(12);
        padding-left: px2rem(8);
        padding-right: px2rem(8);
        font-size: px2rem(26);
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        .list_content {
            padding: 0 px2rem(18);
            overflow: hidden;
            font-size: px2rem(26);
            color: rgb(37, 37, 37);
            img {
                float: left;
            }
            .name_left {
                float: left;
                width: 56%;
                padding: px2rem(14) 0;
                img {
                    margin-top: 0.09rem;
                    height: px2rem(30);
                }
                .name {
                    padding-left: px2rem(36+20);
                }
            }
            .status_right {
                padding: px2rem(14) 0;
                float: right;
                width: 44%;
                img {
                    margin-top: 0.135rem;
                    height: px2rem(30);
                }
                .status {
                    padding-left: px2rem(16+32);
                }
            }
            .time_left {
                padding: px2rem(14) 0;
                float: left;
                width: 56%;
                padding: px2rem(14) 0;
                img {
                    width: px2rem(36);
                    margin-top: 0.06rem;
                }
                .time {
                    padding-left: px2rem(16+36);
                }
            }
            .money_right {
                float: right;
                width: 44%;
                padding: px2rem(14) 0;
                img {
                    margin-top: 0.11rem;
                    width: px2rem(32);
                }
                .money {
                    padding-left: px2rem(16+32);
                }
            }
        }
        .list_title {
            color: rgb(37, 37, 37);
            padding: 0 px2rem(22);
            padding-bottom: px2rem(15);
            overflow: hidden;
            .title_left {
                float: left;
            }
            .title_right {
                float: right;
                color: rgb(255, 42, 20);
            }
        }
    }
    .page-content {
        padding: 0 !important;
    }
}

.ios .index_tabs .block {
    padding: 0 px2rem(25);
    margin: 0;
}

//我的信息
.me_info_img{
    height: px2rem(37);
    width: px2rem(31);
}
.info_wrap {
    margin: px2rem(19) px2rem(24);
    -webkit-box-shadow: 0px 3px 3px #c8c8c8;
    -moz-box-shadow: 0px 3px 3px #c8c8c8;
    box-shadow: 0px 3px 3px #c8c8c8;
    .info_line {
        padding: 0 px2rem(8);
        background: #FFFFFF;
    }
    .box_content {
        background: #FFFFFF;
        padding: px2rem(25) 0;
        padding-left: px2rem(33);
        padding-right: px2rem(29);
        .list {
            font-size: px2rem(28);
            overflow: hidden;
            margin: 0;
            .tag {
                font-size: px2rem(28);
                float: left;
                color: rgb(40, 40, 40);
                font-weight: bold;
            }
            .info {
                line-height: 0.85rem;
                font-size: px2rem(24);
                color: rgb(125, 125, 125);
                float: right;
                display: -webkit-box;
                .next i {
                    width: px2rem(14);
                    height: px2rem(22);
                    margin-left: px2rem(23);
                }
            }
        }
    }
}

//未中标详情
.not_mark_wrap{
    margin-top: px2rem(8);
    .box_wrap{
        margin: 0 px2rem(24);
        margin-top:px2rem(8) ;
        .list_wrap{
            padding-left: px2rem(70-24);
        }
    }
    .list_wrap_input{
        padding:  px2rem(11.5) 0;
        padding-left: 0.9813333333rem;
        display: -webkit-box;
        font-size: px2rem(26);
        background: #FFFFFF;
        overflow: hidden;
        color: rgb(37,37,37);
        
        .title{
            width: px2rem(34+127-23);
            color: rgb(102,102,102);
            line-height: px2rem(57);
        }
        .content{
            width: px2rem(437);
            padding-left: 0;
            input{
                border: 1px solid $color2;
                padding: 0 px2rem(23)  ;
                width: 100%;
                font-size: px2rem(26);
                height: px2rem(54);
            }
        }
        
    }
    
    
    .list_wrap{
        padding: px2rem(22) 0;
        padding-left: px2rem(70);
        display: -webkit-box;
        font-size: px2rem(26);
        background: #FFFFFF;
        overflow: hidden;
        color: rgb(37,37,37);
        .title{
            width: px2rem(34+127);
            color: rgb(102,102,102);
        }
        .content{
             
            padding-left: 0;
            input{
                border: 1px solid $color2;
                padding: px2rem(14) px2rem(23)  ;
            }
        }
        .title_color{
             color: rgb(43,43,43);
        }
        .content_red{
            color: rgb(255,42,20);
        }
    }
}


//待发货
.go_goods{
    padding: 0 px2rem(24);
    margin-top: px2rem(323);
    margin-bottom: px2rem(30);
    overflow: hidden;
    button{
        text-align: center;    
        height: px2rem(80);
        border: 0;
        background: $color1;
        border-radius: 3px;
        font-size: px2rem(28);
        color: #FFFFFF;
    }
}
.goods_pop{
//  display: none;
}


//报价
.goods_total{
    padding: px2rem(23) px2rem(50);
    background: #FFFFFF;
    display: -webkit-box;
    margin-top: px2rem(132);
    .title{
        font-size: px2rem(30);
    }
    .money{
        padding-left: px2rem(80);
        font-size: px2rem(34);
        color: rgb(255,42,20);
    }
}

.offer_goods,.address_buttom{
    padding: 0 px2rem(24);
    margin-top: px2rem(45);
    margin-bottom: px2rem(32);
    overflow: hidden;
    button{
        text-align: center;    
        height: px2rem(80);
        border: 0;
        background: $color1;
        border-radius: 3px;
        font-size: px2rem(28);
        color: #FFFFFF;
    }
}

//填写收货信息
.address_wrap{
    font-size: 1rem;
    .item-content {
        margin: 0 ;
        padding: 0 ;
        .item-inner{
             .item-label{
                 font-size: px2rem(26);
                 width: px2rem(72+90);
             }
             .item-input-wrap{
                  font-size: px2rem(26);
                 input{
                      font-size: px2rem(26);
                 }
             }
             textarea{
                 font-size: px2rem(26);
             }
        }
    }
}
