@charset "UTF-8";
body {
  font-size: 0.8rem; }

p {
  margin: 0; }

.linec {
  height: 0.3413333333rem;
  width: 100%;
  background: #f9f9f9; }

.linex {
  height: 0.0426666667rem;
  width: 100%;
  background: #f9f9f9; }

.linex2 { 
  height: 0.0426666667rem;
  width: 100%;
  background: #d2d2d2;
  margin: 0.4693333333rem 0; }

.linec2 {
  height: 1.4933333333rem;
  width: 100%;
  background: #f9f9f9; }

.ios .button {
  border: 0;
  color: #bcbcbc;
  font-size: 0.6826666667rem;
  height: 0.6826666667rem; }

.ios .button.button-active, .ios .button.tab-link-active {
  line-height: 1.8773333333rem;
  background: #FFFFFF;
  color: #52cc82;
  border-left-width: 0 !important; }

.curriculum_active .tab-link-active:after {
  content: " ";
  position: absolute;
  right: 44%;
  bottom: 0;
  width: 0.8533333333rem;
  border-radius: 50px;
  border-bottom: 0.06rem solid #52cc82;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(2);
  z-index: 5; }

.mian_nav_img img {
  height: 100%; }

.subnavbar .segmented {
  line-height: 1.8773333333rem;
  height: 100%; }

.ios .segmented .button {
  line-height: 1.8773333333rem;
  height: 100%; }

.ios .segmented .button:first-child {
  height: 100%;
  border-left-width: 0 !important; }

.ios .list .item-after {
  font-size: 0.512rem; }

.ios .block {
  margin-top: 0.896rem;
  margin-bottom: 0.832rem;
  padding: 0 0.7466666667rem; }

.ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .subnavbar, .ios .navbar ~ .subnavbar {
  top: 1.8773333333rem; }

.ios .navbar {
  height: 1.9626666667rem;
  background: #FFFFFF; }

.ios .subnavbar {
  height: 1.8773333333rem;
  background: #FFFFFF;
  font-size: 0.6826666667rem;
  color: #bcbcbc; }

.ios .tabbar-labels .tabbar-label {
  font-size: 0.4693333333rem; }

.ios .tabbar i.icon, .ios .tabbar-labels i.icon {
  height: 0.8533333333rem; }

.ios .tabbar-labels a.link, .ios .tabbar-labels a.tab-link {
  width: -webkit-fill-available;
  padding-top: 0.32rem;
  padding-bottom: 0.2346666667rem; }

.ios .tabbar a.tab-link-active, .ios .tabbar-labels a.tab-link-active {
  color: #61e294; }

.ios .navbar:after {
  content: none; }

.ios .list .item-inner:after {
  content: none; }

.list .item-inner {
  padding-top: 0.6186666667rem;
  padding-bottom: 0.5333333333rem; }

.ios .list .item-media {
  padding-top: 0.512rem;
  padding-bottom: 0.4266666667rem;
  width: 0.9813333333rem; }

.list li {
  overflow: hidden; }

.list li:after {
  content: '';
  position: absolute;
  background-color: #f2f2f2;
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 0.0426666667rem;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.ios .list .item-content {
  padding-left: 0.4693333333rem; }

.ios .icon-back,
.ios .icon-prev {
  width: 0.4053333333rem;
  height: 0.7253333333rem; }

.ios .navbar-inner {
  padding: 0 0.512rem; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

* {
  font-family: "微软雅黑"; }

.ios .navbar .title {
  font-size: 0.8533333333rem;
  color: #141414; }

.ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .page-content, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ * .page-content, .ios .navbar ~ :not(.no-navbar) .subnavbar ~ .page-content, .ios .page-with-subnavbar .navbar ~ .page-content {
  padding-top: inherit; }

.ios .navbar ~ .page-content,
.ios .navbar ~ :not(.no-navbar) .page-content {
  padding-top: 1.9626666667rem; }

.ios .navbar ~ .page-with-subnavbar:not(.no-navbar) .page_buttom {
  padding-top: inherit;
  padding: 0;
  padding-top: 1.9626666667rem; }

.me_wrap {
  background: url(../img/me_bg.png);
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden; }

.me_chart_top img {
  height: 2.4746666667rem;
  border-radius: 50%;
  float: left;
  margin: 0.5546666667rem 0 0.4906666667rem 0.4906666667rem; }

.ios .page {
  background: #f9f9f9; }

.ios .tabbar-labels {
  height: 2.0906666667rem;
  background: white;
  -webkit-box-shadow: 0px 0px 3px #c8c8c8;
  -moz-box-shadow: 0px 0px 3px #c8c8c8;
  box-shadow: 0px 0px 3px #c8c8c8; }

.home_ldd {
  width: 0.8533333333rem;
  margin-top: 0rem;
  height: 0.9386666667rem; }

.me_chart_top .index_me_name {
  margin-left: 3.2853333333rem;
  font-size: 0.6826666667rem; }

.home_play .layui-carousel {
  width: 100%;
  height: auto !important; }
  .home_play .layui-carousel img {
    width: 100%;
    height: 100%; }
  .home_play .layui-carousel .layui-carousel-ind li {
    min-height: 0.2986666667rem;
    width: 0.2986666667rem;
    background-color: #bbbbbb;
    margin: 0 0.192rem; }
  .home_play .layui-carousel .layui-carousel-ind li.layui-this {
    background-color: #52cc82; }
  .home_play .layui-carousel .layui-carousel-ind ul {
    background-color: initial; }

.home_nav {
  background: #FFFFFF;
  padding: 0.4266666667rem 0.2773333333rem; }
  .home_nav .home_nav_line {
    height: 0.7466666667rem;
    width: 100%; }
  .home_nav .col {
    text-align: center; }
    .home_nav .col .home_nav_title {
      font-size: 0.4693333333rem;
      color: #1d1d1d;
      padding-top: 0.1706666667rem; }
    .home_nav .col .home_nav_img {
      width: 2.4746666667rem;
      height: 2.4746666667rem;
      margin: auto; }
      .home_nav .col .home_nav_img img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }

.home_play .layui-carousel img {
  width: 100%;
  height: auto; }

.home_play {
  position: relative;
  overflow: -webkit-paged-y; }

.layui-carousel-ind {
  position: absolute !important;
  bottom: 0.512rem !important;
  text-align: center;
  width: 100%;
  line-height: 0 !important;
  z-index: 2;
  top: auto !important; }

.layui-carousel {
  position: initial !important; }

.buttom_bold {
  width: 100%;
  height: 5rem;
  background: #FFFFFF; }

.ios .row .col:nth-last-child(2), .ios .row .col:nth-last-child(2) ~ .col {
  width: 48.5%; }

.home_content {
  background: #FFFFFF;
  border-top: 0.1706666667rem solid #f6f6f6;
  padding: 0 0.512rem; }
  .home_content .home_content_img .titles {
    padding: 0.1066666667rem 0.2133333333rem;
    padding-bottom: 0.256rem; }
    .home_content .home_content_img .titles .tag {
      font-size: 0.5973333333rem;
      color: #414141;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      white-space: normal;
      overflow: hidden;
      word-break: break-all; }
    .home_content .home_content_img .titles .name {
      font-size: 0.512rem;
      color: #828282; }
  .home_content .home_content_img .home_col {
    box-shadow: 0 3px 3px #CCCCCC; }
  .home_content .home_content_img .home_content_img2 {
    margin: auto;
    text-align: center; }
    .home_content .home_content_img .home_content_img2 img {
      height: 100%;
      width: 100%; }
  .home_content .title {
    padding: 0.32rem 0;
    overflow: hidden; }
    .home_content .title .title_next {
      padding: 0.2133333333rem 0;
      float: right; }
      .home_content .title .title_next i {
        width: 0.4053333333rem;
        height: 0.7253333333rem; }
    .home_content .title .title_name {
      font-size: 0.7253333333rem;
      color: #1d1d1d;
      float: left;
      font-weight: bold; }

.me_chart_top .number {
  font-weight: normal;
  font-size: 0.5546666667rem;
  color: #5a5a5a !important;
  line-height: 1rem; }

.index_me_name .login_ye {
  font-size: 0.768rem;
  color: #05ab8f;
  padding: 0.192rem 0.3626666667rem;
  border: 2px solid #05ab8f;
  display: -webkit-inline-box;
  border-radius: 3px;
  font-weight: 600;
  margin-top: 0.25rem; }

.index_me_name {
  padding-top: 0.8533333333rem;
  font-weight: bold; }

.index_me_right {
  float: right;
  position: absolute;
  right: 0;
  top: 0.8106666667rem;
  color: #FFFFFF;
  font-size: 0.5973333333rem;
  padding: 0.2133333333rem 0;
  padding-left: 0.2773333333rem;
  background: #61e294;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center; }

.index_me_right .me_healthy {
  width: 0.4053333333rem;
  height: 0.4906666667rem; }

.index_me_right .me_right {
  height: 0.384rem;
  padding-right: 0.4906666667rem; }

.index_me_right > p {
  display: inline; }

.index_me_right > span {
  background: #FFFFFF;
  width: 0.7893333333rem;
  height: 0.7893333333rem;
  float: left;
  border-radius: 50%;
  margin-right: 0.256rem; }

.index_wrap {
  padding: 0 0.32rem;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 3px #c8c8c8;
  -moz-box-shadow: 0px 3px 3px #c8c8c8;
  box-shadow: 0px 3px 3px #c8c8c8; }

.index_title {
  width: 100%; }

.index_mian {
  padding: 0 0.512rem;
  background-color: #f9f9f9; }

.index_title_img {
  width: 0.896rem;
  height: 0.7893333333rem; }

.ios .list .item-media + .item-inner {
  margin-left: 0.576rem; }

.list .item-title {
  font-size: 0.5973333333rem; }

.me_list {
  float: left;
  text-align: center;
  margin-right: 1.408rem; }

.me_list .me_list_img img {
  width: 1.8346666667rem;
  border-radius: 50%; }

.me_list .me_list_name {
  padding-top: 0.1066666667rem;
  font-size: 0.4693333333rem; }

.me_list_all {
  overflow: hidden;
  padding: 0.512rem 0;
  padding-left: 0.9813333333rem; }

.me_list_line:after {
  content: '';
  position: absolute;
  background-color: #c8c7cc;
  display: block;
  z-index: 15;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  height: 0.0853333333rem !important;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.index_title_img2 {
  height: 0.7893333333rem; }

.index_title_img3 {
  height: 0.64rem;
  width: 0.8533333333rem; }

.index_title_img4 {
  height: 0.7893333333rem; }

.index_title_img5 {
  height: 0.8533333333rem; }

.index_close .index_close_buttom {
  border: 0;
  bottom: 2.5813333333rem;
  text-align: center;
  padding: 0.4693333333rem 0;
  background: #61e294;
  font-size: 0.5973333333rem;
  position: fixed;
  width: 94%;
  margin: auto;
  margin: 0 3%;
  bottom: 2.5813333333rem; }

.ios .list {
  margin: 0; }

.page_buttom {
  position: relative; }

.index_pop-9 {
  width: 10.112rem;
  height: 10.88rem; }

.popup:not(.popup-tablet-fullscreen) {
  width: 10.112rem;
  height: 10.88rem;
  left: 50%;
  top: 50%;
  margin-left: -5.056rem;
  margin-top: -5.44rem;
  -webkit-transform: translate3d(0, 100vh, 0);
  transform: translate3d(0, 100vh, 0); }

.pop_input .me_img > img {
  width: 2.9226666667rem;
  border-radius: 50%; }

.pop_input .me_img {
  text-align: center; }

.pop_input .click {
  text-align: center;
  font-size: 0.5546666667rem;
  margin-top: 0.3626666667rem;
  margin-bottom: 0.5546666667rem;
  color: #61e294; }

.pop_input .name input, .pop_input .age input {
  border: 0.0213333333rem solid #c5c5c5;
  width: 8.5333333333rem;
  height: 1.28rem;
  border-radius: 0.0853333333rem;
  font-size: 0.5546666667rem;
  margin-bottom: 0.2986666667rem;
  padding-left: 0.4906666667rem; }

.pop_input .so_button button {
  height: 1.28rem;
  width: 8.5333333333rem;
  text-align: center;
  background: #61e294;
  font-size: 0.5973333333rem;
  color: #000000; }

/*# sourceMappingURL=index.css.map */
