@import 'px2rem'; //第一步先把px2rem导入
$designWidth: 750; //写scss之前，必须要先定义designWidth。
$color1: #61e294; //橙色
$color2: rgb(188, 188, 188); //灰色
$color3: rgb(242, 242, 242); //描边
$color5:rgb(82, 204, 130); //綠色
.me_remark {
    padding: 0 px2rem(52);
    padding-top: px2rem(33);
}
.top_line{
    border-top: 1px solid $color3;
}
.me_remark .me_text textarea {
    width: 100%;
    min-height: px2rem(317);
    border: px2rem(1) solid $color2;
    padding: px2rem(21);
    font-size: px2rem(28);
}

.me_order_wrap .title .color_red {
    color: rgb(248, 49, 43) !important;
}

.me_text {
    position: relative;
    //  color: $color2;
}

.me_remark .num {
    position: absolute;
    bottom: px2rem(17);
    right: px2rem(22);
    font-size: px2rem(22);
    color: #000000;
}

//訂單
.me_order_wrap {
    background-color: #FFFFFF;
    padding: 0 px2rem(24);
    margin-top: px2rem(16);
    box-shadow: 0 px2rem(3) px2rem(3) $color3;
}

.me_order_wrap .title {
    color: #000000;
    font-size: px2rem(32);
    padding: px2rem(23) 0;
}

.me_order_wrap .title span:last-child {
    display: block;
    float: right;
    font-size: px2rem(26);
    color: rgb(111, 200, 7);
    line-height: 1rem;
}

.me_order_wrap .order_list {
    overflow: hidden;
    padding: px2rem(29) 0;
}

.me_order_wrap .list_img img {
    width: px2rem(261);
    height: px2rem(167);
    float: left;
    border-radius: px2rem(3);
}

.me_order_wrap .info_title {
    font-size: px2rem(32);
    color: #000000;
    position: relative;
}

.me_order_wrap .info_title>span:last-child {
    font-size: px2rem(22);
    color: rgb(237, 103, 99);
    position: absolute;
    right: 0;
    bottom: 0;
}

.me_order_wrap .order_list .info {
    margin-left: px2rem(261+16);
}

.info_owe{
    padding-top: px2rem(17) !important;
    .owe{
         color: rgb(237, 103, 99);
    }
}
.me_order_wrap .info_time {
    font-size: px2rem(26);
    color: rgb(125, 125, 125);
    position: relative;
    padding-top: px2rem(50);
}

.me_order_wrap .info_time .too {
    position: absolute;
    text-align: center;
    padding: px2rem(9) px2rem(20);
    right: 0;
    bottom: -0.1rem;
    background: $color5;
    color: #FFFFFF;
    font-size: px2rem(22);
}

.me_order_wrap .order_num {
    font-size: px2rem(22);
    color: $color2;
    padding: px2rem(19) 0;
}

//我的信息
.me_info_img {
    width: px2rem(64);
    height: px2rem(64);
    border-radius: 50%;
    background: $color2;
}

.me_info_mian {
    margin-top: px2rem(16);
}

.me_info_wrap {
    -webkit-box-shadow: 0px 3px 3px #c8c8c8;
    -moz-box-shadow: 0px 3px 3px #c8c8c8;
    box-shadow: 0px 3px 3px #c8c8c8;
}

//我的收藏
.collection_wrap .collection_img img {
    width: px2rem(261);
    height: px2rem(167);
    float: left;
    border-radius: px2rem(3);
}

.collection_wrap {
    margin: px2rem(16) px2rem(24);
    //  padding: px2rem(28) 0;
    background: #FFFFFF;
    overflow: hidden;
    padding: px2rem(9);
    -moz-box-shadow: 0px 0px 10px rgb(239, 239, 239);
    -webkit-box-shadow: 0px 0px 10px rgb(239, 239, 239);
    box-shadow: 0px 0px 10px rgb(239, 239, 239);
}

.collection_wrap .collection_title {
    margin-left: px2rem(297);
}

.collection_wrap .collection_title .title {
    padding: 0.15rem 0;
    font-size: px2rem(32);
    position: relative;
}

.collection_wrap .collection_title .text {
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    overflow: hidden;
    word-break: break-all;
    font-size: px2rem(26);
    color: rgb(99, 99, 99);
}

//我的課程
.curriculum_click {
    overflow: hidden;
    padding: px2rem(17) 0;
}

.curriculum_click span {
    margin-left: px2rem(17);
    float: right;
    text-align: center;
    color: #000000;
    font-size: px2rem(28);
    padding: px2rem(13);
    border: 1px solid $color2;
    border-radius: 3px;
}

//.curriculum_click span:first-child {
//  background: $color5;
//  color: #FFFFFF;
//}

//提醒
.remind_list {
    margin: 0;
}

.remind_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding: px2rem(22) 0;
}

.remind_list ul li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.remind_list ul li .item-title {
    font-size: px2rem(28);
    width: 71%;
}

.remind_list .time {
    font-size: px2rem(22);
    color: rgb(125, 125, 125);
    padding: px2rem(5) 0;
}

.remind_list .user_name {
    color: rgb(113, 129, 219);
}

.remind_list .more {
    position: relative;
    width: 100% !important;
    font-size: px2rem(22) !important;
    color: rgb(125, 125, 125);
}

.remind_list .more i {
    position: absolute;
    right: 0;
    top: 0.15rem;
    height: px2rem(18);
}

//須知
.notes p {
    color: rgb(20, 20, 20);
    font-size: px2rem(26);
    padding: px2rem(10) 0;
}

//評價
.evaluation_top {
    margin: auto;
    text-align: center;
    font-size: px2rem(28);
    color: rgb(16, 16, 16);
    padding-bottom: px2rem(37);
}

.evaluation_top span {
    color: rgb(189, 189, 189);
    height: 1px;
    width: 38%;
    background: rgb(189, 189, 189);
    display: -webkit-box;
    float: left;
    margin: 0.5rem 0;
}

.evaluation_top span:last-child {
    float: right;
}

.evaluation_wrap {
    padding: px2rem(37) px2rem(75);
}

.evaluation_wrap #tag {
    padding-top: px2rem(35);
    font-size: px2rem(22);
    color: rgb(238, 144, 5);
    text-align: center;
}

//五角星
.rating {
    margin: auto;
    font-size: 0;
    display: table;
}

.rating>label {
    color: #ddd;
    float: right;
}

.rating>label:before {
    padding: 0 px2rem(28);
    font-size: px2rem(75);
    line-height: px2rem(38);
    display: inline-block;
    content: "★";
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFD700;
}

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    opacity: 0.5;
}

//日曆
.order_titme {
//  margin: 0 px2rem(74);
//  position: fixed;
//  top: 30%;
}
#calendar{
    border:  1px solid $color2;
    width: px2rem(600);
}
#calendar .time_wrap{
    background: #FFFFFF;
    overflow: hidden;
    padding: px2rem(22) px2rem(25);
     
}
#calendar .title{
    padding: px2rem(26) 0;
    position: relative;
    width: 100%;
    background: $color5;  
    text-align: center;
}
#calendar .title h4{
    color: #FFFFFF;
    width: 100%;
    background: $color5; 
    font-size: px2rem(32);
    font-weight: normal; 
    margin: 0;
}
#calendar .title i {
    position: absolute;
    height: px2rem(26);
    width: px2rem(15);
    top: px2rem(33);
}
#calendar .title .title_left {
    left: px2rem(39);
}
#calendar .title .title_right{
    right: px2rem(33);
}
#calendar ul{
    color: rgb(37,37,37);
    list-style: none;
     margin: 0;
     padding: 0;
     width: 100%;
}
#calendar ul li{
     float: left;
     width: px2rem(61);
     height: px2rem(61);
     text-align: center;
     margin-right: px2rem(20);
     
}
#calendar .week{
    overflow: hidden;
    padding: px2rem(20) 0;
    color: rgb(192,192,192);
}
#calendar .week li{

    color: rgb(192,192,192);
}
#calendar ul li:nth-child(7n){
    margin-right: 0;
}
#calendar .dateList li{
//  position: relative;
    font-size: px2rem(24);
    border-radius: 50%; 
    margin-bottom: px2rem(16);
}




 //以上課程顏色, 已經上的課程額外增加屬性
#calendar .dateList .sun{
    background: $color5; 
}

#calendar .dateList .sun:after{
    content: "已上";
    font-size: px2rem(20);
    display: block;
    text-align: center;
    margin-top: px2rem(-5);
     
}

//日曆彈出框
#order_pop {
    border: 1px solid #bcbcbc;
    width: px2rem(600);
    height: auto;
    margin-left: px2rem(-300);
    margin-top: -6rem;
}
#order_pop .block{
    margin: 0;
    padding: 0;
    
}

//集體班
.classes_buttom{
    font-size: px2rem(22);
    color: #FFFFFF;
    padding: px2rem(8) px2rem(14);
    background: $color5;
    position: absolute;
    right: 0;
//  top: 0;
}

.activity_love_x{
    position: absolute;
    right:px2rem(18);
    top: px2rem(12);
    width: px2rem(34);
    height: px2rem(32);
    
    img{
        height: 100%;
        width: 100%;
    }
}
