@import 'px2rem'; //第一步先把px2rem导入
$designWidth: 750; //写scss之前，必须要先定义designWidth。
$color1: #61e294; //橙色
$color2: rgb(188, 188, 188); //灰色
$color3: rgb(242, 242, 242); //描边
$color4:rgb(237, 103, 99); //紅色
$color5:rgb(82, 204, 130); //綠色
$color6: #cccc; //rgb(124,122,122);       //背景描邊顏色
$color7:rgb(114, 114, 114); //字體段落內容
.teacher_top {
    padding-bottom: px2rem(8);
    .teacher_top_img {
        text-align: center;
        margin: auto;
        padding-top: px2rem(60);
        padding-bottom: px2rem(80);
        background: url(../img/teacher_1.png);
        background-size: 100% auto;
        display: block;
        background-repeat: no-repeat;
        background-clip: padding-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .top_img {
            img {
                width: px2rem(139);
                height: px2rem(139);
                border-radius: 50%;
            }
        }
        .name {
            font-size: px2rem(32);
            color: #FFFFFF;
            padding-bottom: px2rem(5);
        }
        .course {
            font-size: px2rem(22);
            color: rgb(52, 52, 52);
        }
    }
}

.teacher_name {
    font-size: px2rem(32);
    color: #000000;
    background: #FFFFFF;
    padding: px2rem(24) px2rem(35);
    margin-bottom: px2rem(8);
}

.teacher_content {
    font-size: px2rem(24);
    color: rgb(99, 99, 99);
    background: #FFFFFF;
    padding: px2rem(27) px2rem(41);
    padding-bottom: px2rem(43);
}

//課程名稱
.team_name_img {
    img {
        margin-top: 0.5rem;
        width: px2rem(40);
        height: px2rem(38);
    }
}

.name_img {
    width: 100%;
    img{
        height: 100%;
        width: 100%;
    }
 
}

.name_title {
    background: #FFFFFF;
    overflow: hidden;
    padding: px2rem(16) px2rem(35);
    margin-bottom: px2rem(16);
    .title {
        overflow: hidden;
        .title1 {
            float: left;
            font-size: px2rem(36);
            color: #000000;
        }
        .title2 {
            font-size: px2rem(20);
            color: $color7;
            float: right;
            padding: px2rem(11) 0;
            img {
                width: px2rem(21);
                margin-right: px2rem(8);
            }
            img:last-child {
                margin-right: px2rem(16);
            }
        }
    }
    .time {
        clear: both;
        overflow: hidden;
        position: relative;
        .time1 {
            float: left;
            font-size: px2rem(22);
            color: $color7;
            padding: px2rem(10) 0;
            padding-left: px2rem(27);
            img {
                left: 0;
                position: absolute;
                top: px2rem(10);
                width: px2rem(22);
                padding-right: px2rem(5);
                margin: 0.1rem 0;
            }
        }
        .time2 {
            float: right;
            font-size: px2rem(36);
            color: rgb(241, 33, 33);
        }
    }
}

.name_introduce {
    background: #FFFFFF;
    padding: 0 px2rem(37);
    .name_title_introduce {
        color: #000000;
        font-size: px2rem(32);
        padding: px2rem(15) 0;
        border-bottom: 1px solid $color2;
    }
    .content {
        font-size: px2rem(24);
        color: rgb(99, 99, 99);
        padding: px2rem(16) px2rem(9);
        padding-bottom: px2rem(29);
    }
}

.teacher_title {
    background: #FFFFFF;
    font-size: px2rem(32);
    color: #000000;
    padding: px2rem(24) px2rem(35);
    margin-top: px2rem(16);
}

.teacher_list_name {
    .teachers_wrap {
        padding: 0;
        padding-top: px2rem(8);
        .techers_li {
            box-shadow: none;
        }
    }
}

.name_buootm {
    .tab-link-highlight {
        width: 0 !important;
    }
    width: 100%;
    padding: 0 !important;
    a {
        text-align: center;
    }
    .name_start {
        width: 64% !important;
        background: $color5;
        span {
            line-height: 0.95rem !important;
            color: #000000;
            font-size: px2rem(32) !important;
        }
    }
    .name_start_tel {
        width: 36% !important;
        background: #FFFFFF;
        span {
            line-height: 0.95rem !important;
            color: #000000;
            font-size: px2rem(32) !important;
            position: relative;
            padding-left: px2rem(44);
        }
        img {
            position: absolute;
            left: 0;
            height: px2rem(35);
            width: px2rem(35);
            top: px2rem(5);
        }
    }
}

//預約
.arrange_tips {
    color: $color5;
    font-size: px2rem(22);
    padding-top: px2rem(30);
}

.arrange_mian {
    .title {
        font-size: px2rem(32);
        color: #000000;
        padding: px2rem(24) px2rem(37);
        background: #FFFFFF;
        .le {
            color: rgb(249, 37, 37);
        }
    }
    .content {
        background: #FFFFFF;
        padding: px2rem(24) px2rem(41);
        font-size: px2rem(24);
        color: rgb(99, 99, 99);
    }
    .tag {
        font-size: px2rem(28);
        color: $color4;
        padding: 0 px2rem(36);
        background: #FFFFFF;
    }
    .arrange_innput {
        padding: 0 px2rem(36);
        background: #FFFFFF;
        .item-input-wrap {
            margin: 0;
            input {
                font-size: px2rem(26);
                padding-left: px2rem(17);
                border: 1px solid rgb(197, 197, 197);
                width: 100%;
                height: px2rem(60);
                background: rgb(250,250,250);
            }
        }
    }
    //   下拉框
    .choice {
        @extend .arrange_innput;
        select {
            font-size: px2rem(26);
            padding-left: px2rem(17);
            border: 1px solid rgb(197, 197, 197);
            width: 100%;
            height: px2rem(60);
            -webkit-appearance: menulist-button;
            option {
                font-size: px2rem(26);
                padding-left: px2rem(17);
                border: 1px solid rgb(197, 197, 197);
                width: 100%;
                height: px2rem(60);
            }
        }
    }
}

下拉2 .selectBox {
    width: 400px;
    height: 36px;
    line-height: 36px;
    background: #f72323;
}

.inputCase {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.inputCase i.fa {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #007AFF;
}

.selectUl {
    display: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.selectUl li {
    font-size: px2rem(26);
    padding-left: px2rem(17);
    border: 1px solid rgb(197, 197, 197);
    //               width: 100%;
    line-height: px2rem(60);
    height: px2rem(60);
    border-bottom: 1px solid #ccc;
    transition: all .5s ease 0s;
}

.selectUl li:hover {
    background: #ddd;
}

.selectUl li:last-child {
    border-bottom: 0 none;
}

.btn_foot {
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    .arrange_buttom {
        margin: px2rem(36);
        height: px2rem(71);
        background: $color5;
        text-align: center;
        margin-top: px2rem(123);
        a {
            color: #000000;
            line-height: px2rem(71);
            ;
        }
    }
}

//年齡下拉

.j_select ul {
    margin: 0;
    padding: 0;
    border-radius: 2px;
    display: none;
    box-shadow: 1px 1px 2px #ccc;
    background: #fff;
    position: absolute;
    width: calc(100% - 2px) !important;
    max-height: 302px;
    overflow: auto;
    outline: none;
    z-index: 99 !important;
}


.j_select ul li:hover {
    background: $color5;
    color: #fff;
    cursor: default;
}

.j_select ul li.current_item {
    background: $color5;
    color: #fff;
    cursor: default;
}

.me_age {
    .svg_bottom{
        position: inherit;
        width: px2rem(17);
        height: px2rem(8);
        padding-left: px2rem(8);
        padding-top: px2rem(27);
        
    }
    .j_select {
        margin: 0;
        padding: 0;
        cursor: pointer;
        position: relative;
        background: #fff;
        display: inline-block;
        ul{
            left: 0;
            font-size: 0.5546666667rem;
            text-align: center;
        }
         ul li{
             
         }
    }
    
    padding: 0 0.768rem;
    background: #FFFFFF;
    font-size: 0.5546666667rem;
    .current_select_text {
       color: #636363
    }
    .form {
        font-size: 0.5546666667rem;
        height: px2rem(60);
        #day_select {
            width: px2rem(80) !important;
            border: 1px solid #c5c5c5;
            line-height: 1.35rem;
            padding-left: px2rem(13);
            background: rgb(250,250,250);
             margin-left: px2rem(5);
             height: px2rem(60);
            .day_current_select {
                width: 100%;
//              height: px2rem(60);
                
                
            }
        }
        #month_select {
            padding-left: px2rem(13);
            width: px2rem(80) !important;
            border: 1px solid #c5c5c5;
            line-height: 1.35rem;
            background: rgb(250,250,250);
            margin-left: px2rem(5);
            height: px2rem(60);
            .month_current_select {
                width: 100%;
//              height: px2rem(60);
            }
        }
        #year_select {
            height: px2rem(60);
            position: relative;
            background: rgb(250,250,250);
            padding-left: px2rem(13);
            height: px2rem(60);
            width: px2rem(113) !important;
            border: 1px solid #c5c5c5;
            line-height: 1.35rem;
            .current_select {
                width: 100%;
//              height: px2rem(60);
            }
        }
    }
}